/* Neutralisé les marges par défaut du navigateur */

body {
    margin: 0;
    padding: 0;
}

/* Mise en place de la grille en ciblant la class site*/
.site {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: 
        "header header"
        "nav section"
        "nav article"
        "footer footer";
}

/* mise de couleurs pour repérer les éléments */
header {
    background-color: #6cf;
    grid-area: header;
}
section {
    background-color: #0c0;
    grid-area: section;
}
nav {
    background-color: #000;
    color: #fff;
    grid-area: nav;
}
article {
    background-color: #eee;
    grid-area: article;
}
footer {
    background-color: #aaa;
    grid-area: footer;
}

/* pour les écrans d'un maximum de 900px*/
@media screen and (max-width: 900px) {
    /* Mise en place de la grille en ciblant la class site*/
.site {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "header"
        "nav"
        "article"
        "footer";
}
section {
    display: none; /* pour ne pas afficher la section */ 
}
}