body {
    margin: 0;
    padding: 0;
}

div {
    width: 200px;
    height: 200px;
    background: teal;
    /* centrer la div */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);/* permet de bien centrer la div */
    /* Fin du centrage de la div */
}