body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  /* ---------- La barre de navigation ---------- */
  nav {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    background-color: black;
    color: #fff;
    padding: 0 25px;/* 0 en haut et en bas, 25px à droite et à gauche */
  }

  nav .gauche {
    display: flex;
    flex-wrap:wrap;
  }

  /* logo position */
  nav .gauche img {
    padding-top: 5px;
  }
  
  nav .gauche .onglets {
    display: flex;/* mise des onglets à l'horizontale */
    flex-wrap:wrap;
    margin-left: 10px;
  }

  nav .gauche .onglets p {
    margin-left: 10px;
    cursor:pointer;
    color: #909191;
  }

  nav .gauche .onglets p:hover {
    color: #fff;
  }

  nav .droite {
    display: flex;
    flex-wrap:wrap;
  }

  nav .droite p {
    margin-right: 10px;
    cursor:pointer;
  }
  /* ---------- Fin de la barre de navigation ---------- */
  
  /* ---------- Les films et séries ---------- */
  .films-et-series {
    background-color: #191a1a;
    padding: 25px;
  }

  .films-et-series .section {
    margin-bottom: 55px;
  }

  .films-et-series .section h2 {
    color: #fff;
  }

  .films-et-series .section .list {
    display:flex;
    overflow-x: auto;/* aligne les élément à l'horizontale */
  } 

  .films-et-series .section a {
    padding-left: 5px;
    transition: transform 0.25s;/* transition de l'hover sur l'image */
  }

  .films-et-series .section a:hover {
    transform:scale(1.05);/* effet d'agrandissement de l'image au survol de la souris */
  }

  .films-et-series .section a img {
    height: 140px;/* hauteur des images */
  }
  /* ---------- Fin des films et séries ---------- */
  
  /* ---------- Pied de page ---------- */
  footer {
    background-color: #000;
    padding: 25px 100px;
    color: #909191;
  }

  footer .colonnes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  /* ---------- Fin du pied de page ---------- */