body {
    font-family: sans-serif;
  }
  
  /* ---------- flip-box contient toutes les box ---------- */
  .flip-box {
    width: 300px;
    height: 200px;
    border: 1px solid #f1f1f1;
    perspective: 200px;
  }
  /* ---------- .flip-box-inner contient toutes deux box ---------- */
  .flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  /* ---------- .flip-box-front contient la box front ---------- */
  .flip-box-front {
    background-color: #bbb;
    color: black;
  }
  /* ---------- .flip-box-back contient la box back ---------- */
  .flip-box-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
  }
  /* ---------- Montre qu'une seul face des box ---------- */
  .flip-box-front, .flip-box-back {
    backface-visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
  }
  /* ---------- Au survole, on les fait se retourner ---------- */
  .flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
  }
  
  